@font-face {
  font-family: "odachi";
  src: url("../../css/fonts/Odachi.woff") format("woff"); }

@font-face {
  font-family: "PLEBIS";
  src: url("../../css/fonts/PLEBIS.otf"); }

@font-face {
  font-family: "Plume";
  src: url("../../css/fonts/Plume-free-brush-font.otf"); }

@keyframes flowing {
  50% {
    transform: translateY(10%); }
  70% {
    transform: translateY(5%); }
  90% {
    transform: translateY(2%); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*:not(img),
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 60%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    color: #5222d0;
    display: block;
    font-size: 15rem;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    color: #5222d0;
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem;
        font-weight: 500; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  background-image: linear-gradient(to right, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  font-family: "plebis"; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.section {
  background-color: rgba(82, 34, 208, 0.8);
  max-height: 700px;
  max-width: 700px;
  min-width: 350px;
  min-height: 350px;
  width: 100vmin;
  height: 100vmin;
  overflow: hidden; }

.saucer {
  width: 80%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 10%;
  border-radius: 50%;
  background-color: #f1f1f1;
  background: radial-gradient(circle, #f1f1f1 0%, #e8e8e8 39%, #b1b1b1 42%, #e8e8e8 44%, #d2d2d2 68%, #eaeaea 70%, #dadada 100%); }

.cup {
  width: 100%;
  height: 100%;
  position: relative;
  top: -54%;
  left: 25%;
  z-index: 1; }

.cup-center {
  width: 48%;
  height: 48%;
  border-radius: 50%;
  border: 1px solid #fdfdfd;
  background: radial-gradient(circle, #f1f1f1 0%, #e8e8e8 44%, #c7c7c7 54%, #bdbdbd 62%, #c7c7c7 62%, #e8e8e8 65%, #f1f1f1 100%);
  filter: drop-shadow(17px 10px 11px #979797); }

.cup-handle {
  width: 12%;
  height: 6%;
  position: relative;
  top: -6%;
  left: 39%;
  transform: rotate(45deg);
  background-color: #e9e9e9;
  border: 2px solid #e9e9e9;
  border-radius: 0% 20% 20% 0%;
  border-left-color: #cacaca;
  border-right-width: 5px;
  filter: drop-shadow(24px 14px 15px #979797); }

.coffee {
  width: 86%;
  height: 86%;
  position: relative;
  top: 7%;
  left: 7%;
  border-radius: 50%;
  border: 1px solid #a5a5a5;
  background: radial-gradient(circle, #2d1b00 0%, #351f01 44%, #362000 54%, #3c2300 62%, #9a8167 62%, rgba(158, 95, 29, 0.38) 65%, rgba(95, 65, 53, 0.33) 100%); }

.froth {
  width: 76%;
  height: 76%;
  position: relative;
  top: -74.2%;
  left: 12%;
  border-radius: 50%;
  border: 1px solid #a28143d9;
  background: radial-gradient(circle, #7d5820 0%, #825c22 44%, #805b21 62%, #bb8c46 100%);
  background-color: #9e7b3a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 90 90'%3E%3Ccircle fill-opacity='0.94' fill='%23362000' cx='45' cy='45' r='5'/%3E%3Cg fill='%23362000' fill-opacity='0.94'%3E%3Ccircle cx='0' cy='90' r='12'/%3E%3Ccircle cx='90' cy='90' r='12'/%3E%3Ccircle cx='90' cy='0' r='12'/%3E%3Ccircle cx='0' cy='0' r='12'/%3E%3C/g%3E%3C/svg%3E"); }

.coffee-dark-top {
  width: 76%;
  height: 76%;
  position: relative;
  bottom: 150%;
  left: 12%;
  border-radius: 50%;
  background: radial-gradient(circle, #2f1d03 0%, #2f1d03 42%, #2e1c03 49%, #332209 59%, #271702 65%, #190f01 68%, #331e00 100%);
  clip-path: polygon(11% 29%, 14% 27%, 18% 22%, 21% 18%, 24% 16%, 33% 12%, 37% 9%, 41% 7%, 43% 6%, 49% 5%, 53% 5%, 56% 6%, 62% 8%, 66% 9%, 70% 12%, 72% 14%, 74% 17%, 75% 22%, 76% 23%, 77% 24%, 80% 25%, 82% 27%, 86% 32%, 87% 36%, 88% 40%, 90% 42%, 92% 43%, 93% 52%, 93% 56%, 94% 61%, 93% 65%, 92% 68%, 89% 70%, 87% 74%, 73% 86%, 67% 89%, 62% 92%, 57% 94%, 53% 94%, 52% 94%, 48% 91%, 45% 90%, 39% 87%, 29% 84%, 21% 79%, 19% 76%, 12% 70%, 8% 68%, 5% 67%, 1% 56%, 1% 46%, 4% 36%);
  box-shadow: inset 8px 10px 17px 5px #020100; }

.hot-steam {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 240%;
  left: 23%;
  background: linear-gradient(70deg, rgba(187, 164, 129, 0.29) 0%, rgba(111, 97, 84, 0.42) 44%, rgba(169, 157, 134, 0.25) 54%, rgba(173, 166, 150, 0.46) 65%, rgba(226, 220, 220, 0.19) 74%, rgba(220, 220, 220, 0.23) 100%);
  clip-path: polygon(12% 17%, 14% 16%, 16% 15%, 20% 14%, 26% 13%, 29% 13%, 34% 14%, 36% 14%, 39% 14%, 41% 14%, 43% 15%, 45% 16%, 49% 17%, 56% 18%, 60% 20%, 65% 21%, 68% 23%, 78% 25%, 80% 27%, 83% 30%, 88% 38%, 92% 41%, 94% 44%, 94% 46%, 92% 50%, 92% 52%, 92% 56%, 89% 59%, 87% 60%, 85% 60%, 83% 59%, 81% 58%, 79% 58%, 78% 59%, 77% 62%, 77% 66%, 76% 69%, 74% 74%, 73% 75%, 72% 76%, 69% 77%, 68% 79%, 66% 82%, 64% 83%, 60% 84%, 58% 84%, 56% 84%, 52% 85%, 50% 86%, 47% 87%, 44% 88%, 40% 89%, 37% 90%, 35% 90%, 29% 90%, 28% 90%, 20% 89%, 17% 88%, 10% 84%, 4% 79%, 2% 75%, 3% 71%, 3% 63%, 5% 59%, 5% 50%, 2% 45%, 1% 41%, 2% 34%, 5% 27%, 8% 24%, 9% 22%, 10% 19%); }

.steam-move {
  animation-name: steam-fade;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.teaspoon {
  width: 40%;
  height: 100%;
  position: relative;
  left: 43%;
  bottom: 224%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(235deg); }

.spoon-center {
  width: 25%;
  height: 15%;
  border-radius: 50%;
  border: 4px solid #6c6c6c;
  background-color: #626262;
  background: radial-gradient(ellipse at top, #7d7d7d, #100f0f70), radial-gradient(ellipse at bottom, #000000, #cacaca);
  filter: drop-shadow(0px 0px 1px #000);
  box-shadow: -5px 7px 12px -5px #545454; }

.spoon-handle {
  width: 15%;
  height: 36%;
  position: relative;
  top: -0.95%;
  background-color: #626262;
  background: linear-gradient(90deg, #444444 10%, #525252 20%, #5f5f5f 35%, #6b6a6a 50%, #5f5f5f 65%, #5d5d5d 80%, #525252 100%);
  clip-path: polygon(60% 2.5%, 70% 2.2%, 75% 2%, 85% 1.3%, 90% 1%, 75% 10%, 70% 15%, 70% 30%, 75% 40%, 80% 50%, 85% 60%, 90% 70%, 90% 85%, 85% 90%, 76% 95%, 70% 97%, 60% 99%, 52% 100%, 51% 100%, 49% 100%, 48% 100%, 40% 99%, 30% 97%, 24% 95%, 15% 90%, 10% 85%, 10% 70%, 15% 60%, 20% 50%, 25% 40%, 30% 30%, 30% 15%, 25% 10%, 10% 1%, 15% 1.3%, 25% 2%, 30% 2.2%, 40% 2.5%);
  box-shadow: -5px 7px 12px -5px #545454; }

.text {
  color: #fff;
  text-transform: uppercase;
  font-size: 17vmin;
  word-break: break-word;
  font-family: "Anton", sans-serif;
  text-shadow: 12px -2px 6px #2e1c034d; }

@keyframes steam-fade {
  50% {
    left: 23%;
    clip-path: polygon(12% 17%, 14% 16%, 16% 15%, 20% 14%, 27% 15%, 29% 17%, 32% 19%, 36% 19%, 39% 20%, 41% 21%, 43% 22%, 45% 22%, 49% 21%, 56% 16%, 58% 15%, 60% 14%, 66% 14%, 72% 12%, 78% 6%, 82% 4%, 89% 4%, 95% 3%, 96% 3%, 97% 8%, 99% 15%, 100% 20%, 100% 26%, 97% 34%, 96% 44%, 95% 46%, 94% 48%, 92% 50%, 87% 51%, 86% 51%, 84% 51%, 83% 51%, 82% 51%, 80% 52%, 79% 57%, 77% 59%, 75% 60%, 74% 61%, 72% 64%, 71% 65%, 70% 70%, 69% 73%, 67% 75%, 65% 77%, 56% 83%, 54% 84%, 51% 85%, 48% 86%, 40% 87%, 36% 88%, 32% 88%, 25% 88%, 20% 87%, 17% 84%, 15% 79%, 13% 75%, 12% 72%, 12% 64%, 16% 59%, 18% 56%, 22% 54%, 23% 53%, 25% 49%, 25% 44%, 24% 39%, 20% 33%, 12% 26%, 9% 20%); } }

@media (min-width: 1400px) and (min-height: 600px) {
  .main {
    grid-template: 100% / 50% 50%;
    margin: 4%; }
  .text {
    margin-left: 5%;
    font-size: 24vmin; } }

.header {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Dosis", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .header {
      display: block;
      text-align: center; } }
  .header__text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    .header__text-box--txt--main {
      color: #5222d0;
      display: block;
      font-size: 8rem;
      animation: moveInLeft 1s ease-out;
      font-weight: 600; }
      @media only screen and (max-width: 75em) {
        .header__text-box--txt--main {
          font-size: 6rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__text-box--txt--main {
          font-size: 6rem; } }
      @media only screen and (max-width: 37.5em) {
        .header__text-box--txt--main {
          font-size: 5.5rem; } }
    .header__text-box--txt--sub {
      display: block;
      font-size: 5rem;
      font-weight: 400;
      animation: moveInLeft 1s ease-out; }
      @media only screen and (max-width: 37.5em) {
        .header__text-box--txt--sub {
          font-size: 3rem; } }
  .header__icons {
    display: flex;
    padding-bottom: 20px;
    animation: moveInLeft 1s ease-out; }
    .header__icons--icon {
      animation: flowing 5s linear alternate infinite;
      cursor: pointer; }
      @media only screen and (max-width: 75em) {
        .header__icons--icon img {
          width: 10rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__icons--icon img {
          width: 10rem; } }
  .header__image {
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .header__image {
        display: none; } }
    .header__image img {
      height: 50rem; }
      @media only screen and (max-width: 75em) {
        .header__image img {
          height: 30rem; } }
      @media only screen and (max-width: 56.25em) {
        .header__image img {
          height: 30rem; } }

.button {
  margin: 0 15px;
  background: #5222d0;
  border-radius: 100px;
  padding: 20px 60px;
  color: #fff;
  text-decoration: none;
  font-size: 2rem; }

/* Hover state animation applied here */
.button:hover {
  -webkit-animation: hover 1200ms linear 2 alternate;
  animation: hover 1200ms linear 2 alternate; }

/* Active state animation applied here */
.button:active {
  -webkit-animation: active 1200ms ease 1 alternate;
  animation: active 1200ms ease 1 alternate;
  background: #5f9be0; }

.about {
  position: relative;
  background-attachment: fixed;
  height: 90vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  font-family: "Dosis", sans-serif;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .about {
      height: auto;
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      height: auto;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr; } }
  .about__text--txt {
    padding: 10px;
    margin: 20px;
    font-weight: 500;
    font-size: 3rem;
    line-height: 5rem;
    color: #333; }
    @media only screen and (min-width: 112.5em) {
      .about__text--txt {
        font-size: 4rem; } }
    @media only screen and (max-width: 75em) {
      .about__text--txt {
        font-size: 2.5rem; } }

.footer {
  text-align: center;
  font-family: "Dosis", sans-serif;
  border-top: 1px solid #eeeeee;
  padding-top: 50px; }
  .footer__txt {
    font-size: 2rem; }
  .footer__img {
    display: flex;
    justify-content: center;
    padding: 10px; }
    .footer__img img {
      border-radius: 50%;
      height: 10rem;
      width: 10rem;
      vertical-align: middle; }
  .footer__bottom {
    font-size: 1.5rem;
    color: #999;
    padding: 50px 0 10px 0; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #5222d0;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#fff, #fff);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -50%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #5e17eb;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #5e17eb 50%);
  background-size: 230%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.contact {
  padding: 20px 0 20px 0;
  display: flex;
  min-height: 90vh;
  font-family: "Dosis", sans-serif;
  position: relative;
  top: -2rem; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      min-height: 100vh; } }

.contact__img--padding {
  padding: 0 0 5rem 10rem;
  position: absolute; }
  @media only screen and (max-width: 37.5em) {
    .contact__img--padding {
      padding: 5rem 0 10rem 0; } }

.contact__img img {
  height: 3rem; }

.form {
  flex: 0 1 90rem;
  margin: auto;
  padding: 10px; }
  @media only screen and (min-width: 112.5em) {
    .form {
      flex: 0 1 150rem; } }
  .form_screen {
    position: relative;
    border-radius: 15px; }
    .form_screen::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      bottom: 0;
      border-radius: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
      z-index: -1; }
  .form_body {
    display: flex; }
    .form_body--item {
      flex: 1;
      padding: 8rem; }
      @media only screen and (min-width: 112.5em) {
        .form_body--item {
          padding: 12rem; } }
    .form_body .left {
      display: flex;
      flex-direction: column; }
  .form_title {
    display: flex;
    font-family: "Dosis", sans-serif;
    flex-direction: column;
    position: relative;
    color: #5222d0;
    font-size: 3rem; }
    @media only screen and (min-width: 112.5em) {
      .form_title {
        font-size: 4rem; } }
    .form_title::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 5rem;
      height: 0.5rem;
      background: #5222d0; }
  .form_contact {
    margin-top: auto;
    font-size: 1.5rem;
    color: #5222d0; }
    @media only screen and (min-width: 112.5em) {
      .form_contact {
        font-size: 2rem; } }
  .form_app_group {
    margin-bottom: 15px; }
    .form_app_group .message {
      margin-top: 40px; }
    .form_app_group .button {
      margin-bottom: 0;
      text-align: right; }
  .form_app_control {
    font-family: "Dosis", sans-serif;
    width: 100%;
    padding: 1.3rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid #5222d0;
    color: #ddd;
    font-size: 1.5rem;
    outline: none;
    transition: border-color 0.2s; }
    @media only screen and (min-width: 112.5em) {
      .form_app_control {
        font-size: 2rem; } }
    .form_app_control::placeholder {
      color: #5222d0; }
    .form_app_control:focus {
      border-bottom-color: #ddd; }
  .form_app_button {
    font-family: "Dosis", sans-serif;
    background: none;
    border: none;
    color: #5222d0;
    padding: 0.8rem;
    border: 2px solid #5222d0;
    font-size: 1.4rem;
    padding: 1rem;
    cursor: pointer;
    outline: none;
    font-weight: 800; }
    @media only screen and (min-width: 112.5em) {
      .form_app_button {
        font-size: 2rem; } }

.notify {
  width: 100%;
  position: absolute;
  font-size: 1.3rem;
  color: red;
  opacity: 0;
  transition: all 1s;
  text-align: center;
  padding: 1rem;
  border-radius: 5%; }

@media screen and (max-width: 520px) {
  .form_body {
    flex-direction: column; }
  .form_body--item.left {
    margin-bottom: 30px; }
  .form_title {
    flex-direction: row; }
  .form_title span {
    margin-right: 12px; }
  .form_title:after {
    display: none; } }

@media screen and (max-width: 600px) {
  .form_body {
    padding: 40px; }
  .form_body--item {
    padding: 0; } }

.projects {
  position: relative;
  display: grid;
  padding: 10rem;
  margin-top: 8rem;
  grid-template-columns: 1fr 1fr;
  font-family: "Dosis", sans-serif;
  grid-gap: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding: 10px; } }
  @media only screen and (max-width: 37.5em) {
    .projects {
      grid-template-columns: 1fr;
      padding: 10px; } }
  .projects__link {
    margin-left: auto; }
  .projects__card {
    padding: 20px;
    position: relative; }
    .projects__card--hover {
      opacity: 0;
      display: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .projects__card--color1 {
      background-color: #3b4a6b; }
    .projects__card--color2 {
      background-color: #22b2da; }
    .projects__card--color3 {
      background-color: #f0d43a; }
    .projects__card--color4 {
      background-color: #f23557; }
    .projects__card--color5 {
      background-color: #ec615b; }
    .projects__card--color6 {
      background-color: #5222d0; }
    .projects__card--img {
      text-align: center;
      padding: 20px; }
      @media only screen and (min-width: 112.5em) {
        .projects__card--img {
          padding: 50px 20px 50px 20px; } }
      @media only screen and (max-width: 37.5em) {
        .projects__card--img {
          padding: 5px; } }
      .projects__card--img img {
        height: 20rem; }
        @media only screen and (max-width: 56.25em) {
          .projects__card--img img {
            height: 15rem; } }
        @media only screen and (max-width: 37.5em) {
          .projects__card--img img {
            height: 15rem; } }
    .projects__card--tech {
      display: flex; }
      .projects__card--tech img {
        height: 50px;
        padding-right: 10px; }
        @media only screen and (min-width: 112.5em) {
          .projects__card--tech img {
            height: 80px; } }
    .projects__card--txt {
      padding: 10px; }
      .projects__card--txt-heading {
        font-size: 4rem; }
      .projects__card--txt-txt {
        font-size: 2rem; }
        @media only screen and (min-width: 112.5em) {
          .projects__card--txt-txt {
            font-size: 2.5rem; } }

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit; }
  button.learn-more {
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #eee7fd;
    border: 2px solid #5e17eb;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1); }
    button.learn-more::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #ae8bf5;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #5e17eb, 0 0.625em 0 0 #eee7fd;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1); }
    button.learn-more:hover {
      background: #7e45ef;
      transform: translate(0, 0.25em); }
      button.learn-more:hover::before {
        box-shadow: 0 0 0 2px #5e17eb, 0 0.5em 0 0 #eee7fd;
        transform: translate3d(0, 0.5em, -1em); }
    button.learn-more:active {
      background: #7e45ef;
      transform: translate(0em, 0.75em); }
      button.learn-more:active::before {
        box-shadow: 0 0 0 2px #5e17eb, 0 0 #eee7fd;
        transform: translate3d(0, 0, -1em); }
